*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.gitignore
.idea/
app/libs/
app/src/main/res/drawable/
Would skip repository https:/github.com/vasskob/Dagger2Test.git
libs/
src/main/res/drawable/
